################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Code_Project_Latest/FileContentIndex
/.vs
/*/bin
/*/obj
